@import "tailwindcss";
@plugin "daisyui" {
    themes: forest --default;
}
/* Désactive DaisyUI dans la facture */
.invoice-view * {
  color: #222 !important;               /* Texte lisible */
  border-color: #d0d0d0 !important;     /* Bordures visibles */
  background-color: transparent !important;
}

.invoice-view h1,
.invoice-view h2,
.invoice-view h3,
.invoice-view strong {
  color: #000 !important;               /* Titres noirs */
}

.invoice-view table th {
  color: #000 !important;
  font-weight: 700 !important;
}

.invoice-view .reference {
  color: #555 !important;               /* Références lisibles */
}

.invoice-view .status-badge {
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  border-width: 1px;
  display: inline-block;
}
